#user-signed-in {
    display: block;
    border: solid 2px #70BCE7;
    width: 400px;
    height: 70px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 700px;
    padding: 10hv;
    top: 2hv;
    text-align: center;
    background-color: white;
    border-radius: 25px;
    left: 20hv;
    
    
   
    
}