/* Navbar */
.navbar {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
  padding-left: 1vw;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
  align-items: center;
  background-color: #70BCE7;
  text-decoration: none;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: .75;
  outline: 1px solid gainsboro;
}
nav .logo {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
nav .logo a {
  color: white;
}
nav .nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}
nav .nav-links a {
  font-size: 18px;
  font-weight: normal;
  color: white;
}
nav .nav-links a:hover {
  color: #45a1ff;
  cursor: pointer;
}
/* End of navbar */

#container {
  position: absolute;
  width: 100%; 
  height: 95%;
  top: 8vh;
  overflow: hidden;
  z-index: -1;
}
#container:after{
  content: '';
  position: absolute;
  right: -15vh;
  top: -15vh;
  border-radius: 100%;
  width: 105vh; 
  height: 105vh;
  box-shadow: 0px 0px 0px 2000px #f7f5f2;
}
.content {
  padding-top: 0;
  height: 50%;
  width: 100%;
  padding: 15;
  margin: 0;
  gap: 2rem;
}
body {
  background-color: white;
  /* background-image: linear-gradient(to right, #fcd5ce, #f9dcc4); */
}
.title {
  padding-top: 10vh;
  padding-left: 15vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  text-emphasis: bold;
  font-size: 40px;
}
.secondtitle {
  padding-left: 18vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 50;
  font-size: 18px;
}
.space {
  padding: 15px;
}
.blue {
  position: absolute;
  top: 26vh;
  left: 3vw;
  padding-top: 8vh;
  z-index: -1;
  background-color: #70BCE7;
  width: 25vw;
}
.blue2 {
  position: absolute;
  top: 42vh;
  left: 19vw;
  padding-top: 8vh;
  z-index: -1;
  background-color: #70BCE7;
  width: 25vw;
}
.welcomemessage {
  padding-left: 9vw;
  padding-top: 5vh;
  font-style: italic;
  font-size: 25px;
}
#move_right {
  padding-left: 3vw;
}

/*main image */
#mainimg {
  position: absolute;
  top: 8vh;
  right: 0;
  height: 90vh;
  width: 140vh;
  z-index: -2;
}

/*buttons */
.page-button-group1 {
  background-color: #70BCE7; 
  border: 3px solid #70BCE7;
  color: white;
  font-style: italic;
  width: 15vw;
  height: 8vh;
  font-size: 3vh;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
}
.page-button-group1:hover {
  background-color: #45a1ff;
  border: 3px solid #45a1ff;
}
.page-button-group2 {
  background-color: white;
  border: 3px solid #70BCE7;
  color: #70BCE7;
  font-style: italic;
  width: 15vw;
  height: 8vh;
  font-size: 3vh;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
  margin: 2vh 0;
}
.page-button-group2:hover {
  color: #45a1ff;
  border: 3px solid #45a1ff;
}
.grid {
  padding-left: 15vw;
  padding-top: 15vh;
  display: grid;
}

/*Slogan */
.text {
  padding: 22vh 12vw 8vh;
  font-weight: 500;
}

/* Image gallery */
div.gallery {
  margin: 0 5px 10vh;
  float: left;
  width: 32vw;
  border-radius: 5px;
}
div.gallery img {
  width: 100%;
  height: 100%;
}

/* Footer */
#footer {
  display: flex;
  justify-content: center;
  background-color: #70BCE7;
  color: #fff;
  position: fixed;
  padding: 1vh;
  bottom: 0;
  width: 100%;
  opacity: .75;
}

/* Food menu */

#foodmenu_top {
  text-align: center;
  background-color: skyblue;
}

.grid_container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding-left: 50px;



}

.fooditems {
  border-radius: 35px;
  background-color: red;
  background-image: linear-gradient(white, skyblue);
  width: 65%;
  padding-bottom: 60px;



}

.foodname  {
  text-align: center;

  padding: 15px;
}

.ingredients {
  padding: 10px;
  color: white;
}

.price {
  padding: 10px;
  color: white;

}

/* Drink menu */
#drinkmenu_top {
  text-align: center;
  background-color: skyblue; 
}

/* Order menu */
.order_menu {
  text-align: center;
}

.Drink_List {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding-bottom: 25px;
}

.Food_List {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;

}
/* About section */
.About_section {
  padding-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;

}

.About_Title {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* About form */

.wrapper {
  padding: 5px 20px;
}

.wrapper fieldset {
  margin: 20px 0;
}
