/* Navbar */
.navbar {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
li {
  list-style-type: none;
  text-decoration: none;

}
a{
  text-decoration: none;

}
nav {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  background-color: #b07d62;
  color: #fff;
  text-decoration: none;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: .75;
}
nav .logo {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;


}
nav .nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}
nav .nav-links a {
  font-size: 18px;
  font-weight: normal;


}
/* End of navbar */

/*
title

#title {
  padding: 10vw;
  color: #536878;
  background-color: #fec89a;
  width: 100%;
  height: 10%;
  margin-top: 20vw;
}



.quote {
  font-style: italic;
}

.quote-author {
  opacity: .8;
}

.content {
  height: 100vh;
  width: 100%;
  padding: 15;
  margin: 0;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.page-button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  border: 1px solid #94A3B8;
  background-color: #E2E8F0;
  border-radius: 5px;
  cursor: pointer;

}

.page-button:hover {
  background-color: skyblue;
}
*/
.content {
  padding-top: 40px;
  height: 50%;
  width: 100%;
  padding: 15;
  margin: 0;
  gap: 2rem;
}

body {
  background-color: white;
  /* background-image: linear-gradient(to right, #fcd5ce, #f9dcc4); */
}

.title {
  text-align: center;
  font-family: Monaco;
  font-weight: bold;
  text-emphasis: bold;

}
.secondtitle {
  text-align: center;
  font-family: Monaco;
  
}
.space {
  padding: 15px;
}
.blue {
  padding-top: 15px;
  background-color: lightblue;
  width: 600px;
  height: 50px;
}
.blue2 {
  padding-top: 15px;
  background-color: lightblue;
  width: 600px;
  height: 50px;
  left: 500px;

}
.welcomemessage {
  padding-left: 250px;

}

#move_right {
  padding-right: 50px;
}

/*main image */

#mainimg {
  height: 600px;
  border-radius: 50%;
  float: right;
  width: 550px;
  position: relative;
}

/*buttons */

.page-button {
  background-color: blue; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  border: 1px solid #94A3B8;
  background-color: #E2E8F0;
  border-radius: 5px;
  cursor: pointer;

}

.grid {
  padding-left: 250px;
  width: 25px;
  padding-top: 10px;
  display: grid;

}
.page-button:hover {
  background-color: skyblue;
}


/*Slogan */
.text {
  padding-top: 125px;
  padding-left: 300px;
}

/* Image gallery */
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 500px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

/* Footer */

#footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #45a1ff;
  color: #fff;
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 25;
}

/* Food menu */

#foodmenu_top {
  text-align: center;
  background-color: skyblue;
}

.grid_container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding-left: 50px;



}

.fooditems {
  border-radius: 35px;
  background-color: red;
  background-image: linear-gradient(white, skyblue);
  width: 65%;
  padding-bottom: 60px;



}

.foodname  {
  text-align: center;

  padding: 15px;
}

.ingredients {
  padding: 10px;
  color: white;
}

.price {
  padding: 10px;
  color: white;

}

/* Drink menu */
#drinkmenu_top {
  text-align: center;
  background-color: skyblue; 
}

