/* Navbar */
.navbar {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
li {
  list-style-type: none;
  text-decoration: none;

}
a{
  text-decoration: none;

}
nav {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  align-items: center;
  background-color: #b07d62;
  color: #fff;
  text-decoration: none;



}
nav .logo {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;


}
nav .nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}
nav .nav-links a {
  font-size: 18px;
  font-weight: normal;


}
/* End of navbar */

/*
title
*/
#title {
  padding: 20px;
  color: #536878;
  background-color: #fec89a;
  width: 100%;
  text-align: center;
  height: 10%;
}



.quote {
  font-style: italic;
}

.quote-author {
  opacity: .8;
}

.content {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.page-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  border: 1px solid #94A3B8;
  background-color: #E2E8F0;
  border-radius: 5px;
  cursor: pointer;

}

.page-button:hover {
  background-color: skyblue;
}

body {
  background-image: linear-gradient(to right, #fcd5ce, #f9dcc4);
}